<!DOCTYPE html>
<html lang="sk">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, schrink-to-fit=no">
        <title>RSS READER</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css"/>
        {% block style %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <footer>
         <div class="bg-secondary">
            <div class="container text-center py-5">
              <p class="credit text-white">RSS READER, PUT URL INTO SEARCH BAR AND ENJOY !</p>
            </div>
          </div>
          <div class="bg-white">
            <div class="container text-center py-5">
              <p class="credit text-black">Webové publikovanie - projekt - RSS reader - CI/CD - Matej Glemba</p>
            </div>
          </div>
        </footer>
    </body>
</html>    